.login {
  width: fit-content;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}

.login h1 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.form label,
.form input {
  font-size: 2rem;
}

.form label {
  display: block;
  margin-bottom: 0.3em;
  font-weight: 600;
}

.form input {
  display: block;
  width: 500px;
  margin-bottom: 1em;
  padding: 0.2em 0.5em;
}

.submit {
  display: block;
  margin: 30px auto;
  padding: 0.3em 32px;
  border-radius: 0.3em;
  background-color: #007bbb;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.login p {
  text-align: center;
}

.gLogin {
  margin: 20px auto 0;
  display: block;
  padding: 0.3em 32px;
  border-radius: 0.3em;
  border: 1px solid #333;
  font-size: 2rem;
}

/* PostList.module.css */
.wrapper {
  padding: 40px;
}

.heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
}

.link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0.3em 24px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtn a,
.actionBtn button {
  font-size: 1.8rem;
}

.actionBtn a {
  padding-right: 2em;
}